*
!.gitignore
!.git-preserve-permissions
# /home/isucon/.bashrc.backup
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc.backup

# /home/isucon/.bashrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc

# /etc/mysql/my.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/my.cnf

# /etc/mysql/mysql.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/mysql.cnf

