*
!.gitignore
!.git-preserve-permissions
# /home/isucon/.bashrc.backup
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc.backup

# /home/isucon/.bashrc
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/.bashrc

# /etc/mysql/my.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/my.cnf

# /etc/mysql/mysql.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/mysql.cnf

# /etc/mysql/mysql.conf.d/mysqld.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/mysql.conf.d
/etc/mysql/mysql.conf.d/*
!/etc/mysql/mysql.conf.d/mysqld.cnf

# /etc/nginx/nginx.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf

# /files/hosts/ip-192-168-0-11
/*
!/files
/files/*
!/files/hosts
/files/hosts/*
!/files/hosts/ip-192-168-0-11

